ai_foundation_and_learning_models/docs/Aula 4/Aula 4 AIE V1.0.pdf
ai_foundation_and_learning_models/docs/Aula 5/mnist.pkl/
ai_foundation_and_learning_models/docs/Aula 5/mnist.pkl.gz
ai_foundation_and_learning_models/docs/Aula 6/data/cifar-10-python.tar.gz
